/**********************************************/
/* Styles ordered from less to more specific */
/********************************************/
body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Armata;
}

h1 {
  text-align: center;
}



li {
  margin-bottom: 10px;
}

button {
  margin-top: 25px;
  text-align: center;
}

.container {
  margin-top: 25px;
}

.form-well {
  background-color:   #b4a9cf;
}

.first-question, .second-question, .third-question, .fourth-question, .fifth-question {
  background-color:  #dedede;
  border-bottom: 2px solid black;
  border-radius: 10px;
}

.more-info {
  color: white;
  font-weight: bold;
}

.more-info:hover {
  color: lightgray;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.close-results-p {
  margin-top: 25px;
}

.close-results {
  color: white;
  font-weight: bold;
}

.close-results:hover {
  color: lightgray;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

#ruby-track, #css-track, #c-track, #error-result {
  display: none;
}
